.code-mirror{

}
.code-mirror .fb-tag{
	color: brown/*#170*/;
	display: inline-block;
	    line-height: 22px;
}
.code-mirror .fb-bracket{
	color: mediumblue/*#997*/;
	font-size: 22px;
    transform: translateY(4px);
    display: inline-block;
}

.padding-demo{
	border:solid 2px #00bcd4;
	color: #000;
}
.border-demo{
	padding: 10px;
}
.margin-demo{
	border:solid 2px #00bcd4;
	color: #000;
	padding: 10px;
}
.background-demo{
	height: 400px;
}
