
html{
	font-size: 14px;
}

body{
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
}
a{
	font-size: 1em;
}
p{
	margin-bottom: 0.3em;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/* ---- Header style ----- */
.top-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: #fff;

}
.top-info{
	background-color: #fff;
	padding: 10px 0;
}
.logo a{
	display: block;
}
.logo a img{
	width: 150px;
	height: auto;
	display: block;
}
.top-navebar{
	background-color: #670099;
	/*background-image: linear-gradient(to right, #761aa3, #670099);*/
}
.top-navebar .navbar-menu {
	display: flex;

}
.navbar-menu li{
	/*display: inline-block;*/
}
.navbar-menu li > a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	position: relative;
	transform: all 0.3s ease;
}
/*.navbar-menu li > a:after{
	content: "";
	position: absolute;
	bottom: -9px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #191919;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transform: all 0.3s ease;
}*/
.navbar-menu li > a:hover{
	background-color: #191919;
	color: #fff;
}
/*.navbar-menu li > a:hover:after{
	opacity: 1;
	visibility: visible;
}*/
.navbar-menu li > a.active{
	color: #fff;
	background-color: #191919;
}
/*.navbar-menu li > a.active:after{
	content: "";
	position: absolute;
    bottom: -9px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #191919;
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}*/


/* ------------- Main section ----------- */
.main{
	display: flex;
	padding: 90px 0px 0px 0px;
	height: 100vh;
    overflow: hidden;
}
/* ------------- Side bar style -------- */
.side-bar-section{
	background-color: #f5f5f5;
	overflow: hidden;
	overflow-y: auto;
	width: 180px;
}
.side-bar-section h2{
    font-size: 1.5em;
    padding: 10px 15px;
    border-bottom: solid 1px #ccc;
    color: #000;
    margin: 0;
}
.side-nav li > a{
	display: block;
	text-decoration: none;
	color: #222;
	padding: 6px 15px;
	transition: all 0.3s ease;
}
.side-nav li > a:hover{
	color: #fff;
	background-color: #670099;
}
.side-nav li > a.nav-active{
	color: #fff;
	background-color: #670099;
}


.code-container{
	flex-grow: 1;
	display: flex;
}
.code-editor {
	width: 50%;
	display: flex;
    flex-direction: column;
}
.html-code{
	padding: 10px 15px;
	height: 50%;
}
.css-code{
	padding: 10px 15px;
	height: 50%;
	border-top: solid 1px #ccc;
}

.html-code textarea,
.css-code textarea{
	display: block;
	width: 100%;
    resize: none;
    border: 0;
    border-bottom: solid 1px #ccc;
    padding: 10px;
}
#cssProperties{
	padding: 0 0 0 30px;
}
.html-code textarea:focus,
.css-code textarea:focus{
	outline: 0;
}
.css-properties{
	display: flex;
    justify-content: flex-end;
}
.css-dropdown{
	position: relative;
    border: solid 1px #ccc;
    padding: 10px 15px;
    color: #000;
    min-width: 240px;
    cursor: pointer;
}
.css-dropdown > i{
	position: absolute;
    top: 14px;
    right: 15px;
    font-size: 16px;
}
.css-dropdown-nav{
	display: none;
	position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    padding: 5px;
}
.css-dropdown-nav.css-active-nav{
	display: block;
}
.css-dropdown-nav > li{
	position: relative;
	padding: 5px 10px;
    border-bottom: solid 1px #eee;
    cursor: pointer;
    transition: all 0.3s ease;
}
.css-dropdown-nav > li:last-child{
	border-bottom: 0;
}
.css-dropdown-nav > li:after{
	content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 16px;
    padding-right: 0;
    position: absolute;
    top: 4px;
    right: 8px;
}

.css-dropdown-nav > li:hover{
	color: #fff;
	background-color: #670099;
	
}
.css-dropdown-nav > li.active-option{
	color: #fff;
	background-color: #670099;

}
.css-dropdown-nav > li.active-option:after{
	opacity: 1;
	visibility: visible;
}

.show-code-output{
	width: 50%;
	border-left: solid 1px #ccc;
	padding: 10px 15px;
}
#codeOutPut{
	width: 100%;
	height: 100%;
}
.demo-tags{
	display: none;
}
.active-demo{
	display: block;
}