:root{
	--primary-color:#670099;
	--secondry-color:#191919;
}
html{
	font-size: 14px;
}

body{
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
}
a{
	font-size: 1em;
}
p{
	margin-bottom: 0.3em;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* ---- Header style ----- */
.top-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: #fff;

}
.top-info{
	background-color: #fff;
	padding: 10px 0;
}
.logo a{
	display: block;
}
.logo a img{
	width: 150px;
	height: auto;
	display: block;
}
.top-navebar{
	background-color: var(--primary-color);
	/*background-image: linear-gradient(to right, #761aa3, var(--primary-color));*/
}
.top-navebar .navbar-menu {
	display: flex;

}
.navbar-menu li{
	/*display: inline-block;*/
}
.navbar-menu li > a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	position: relative;
	transition: all 0.3s ease;
}
/*.navbar-menu li > a:after{
	content: "";
	position: absolute;
	bottom: -9px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--secondry-color);
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transform: all 0.3s ease;
}*/
.navbar-menu li > a:hover{
	background-color: var(--secondry-color);
	color: #fff;
}
/*.navbar-menu li > a:hover:after{
	opacity: 1;
	visibility: visible;
}*/
.navbar-menu li > a.active{
	color: #fff;
	background-color: var(--secondry-color);
}
/*.navbar-menu li > a.active:after{
	content: "";
	position: absolute;
    bottom: -9px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--secondry-color);
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}*/


/* ------------- Main section ----------- */
.main{
	display: flex;
	padding: 90px 0px 0px 0px;
	height: 100vh;
    overflow: hidden;
}
/* ------------- Side bar style -------- */
.side-bar-section{
	background-color: #f5f5f5;
	overflow: hidden;
	overflow-y: auto;
	width: 200px;
	flex: 0 0 auto;
}
.side-bar-section h2{
    font-size: 1.5em;
    padding: 10px 15px;
    border-bottom: solid 1px #ccc;
    color: #000;
    margin: 0;
}
.side-nav li > a{
	display: block;
	text-decoration: none;
	color: #222;
	padding: 6px 15px;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.side-nav li > a:hover{
	color: #fff;
	background-color: var(--secondry-color);
}
.side-nav li > a.active{
	color: #fff;
	background-color: var(--secondry-color);
}


.code-container{
	flex-grow: 1;
	display: none;
	position: relative;
}
.code-container.show-code{
	display: flex;
}
.code-editor {
	width: 50%;
	display: flex;
    flex-direction: column;
}
#main{
	display: none;
	flex-grow: 1;
    padding: 20px 30px;
    overflow: hidden;
    overflow-y: auto;
}
#main.show-main{
	display: block;
}
#css-info{
	width: 75%;
}
#main h1{
	font-size: 34px;
	font-weight: 400;
	margin-top: 20px;
}
#main h2{
	font-size: 25px;
	font-weight: 400;
	margin-top: 20px;
}
#main p, #main ul li{
	font-size: 16px;
	line-height: 22px;
	margin-top: 1.2em;
    margin-bottom: 1.2em;
}
#main ul li{
	margin-top: 0.2em;
    margin-bottom: 0.2em;
}
#main hr{
	background-color: #999;
	margin: 30px 0;
}
.fb-props-color{
	background-color: rgba(222,222,222,0.3);
	padding-left: 4px;
    padding-right: 4px;
    color: var(--primary-color);
    font-family: Consolas,Menlo,"courier new",monospace;
}

.css-example{
	background: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}
.fb-code{
	background: #fff;
    /*box-shadow: 0 0 5px #ccc;*/
    padding: 20px;
    /*border-left: solid 5px var(--primary-color);*/
    margin: 20px 0;
}
#main ul{
	list-style: disc;
    padding: 0 0 0 40px;
}
#main ul li ul{
	list-style: circle;

}
#main ul li ul li{
	list-style: none;
	font-size: 14px;
	position: relative;
}
#main ul li ul li::after{
    content: "->";
    position: absolute;
    left: -22px;
    top: 1px;

}
.btns{
	text-decoration: none;
    color: #fff;
    background: var(--secondry-color);
    display: inline-block;
    padding: 8px 25px;
    border-radius: 6px;
    box-shadow: 0px 2px 6px #ccc;
}

.btns:hover{
	color: #fff;
	opacity: 0.9;
}
.html-code{
	position: relative;
	padding: 50px 15px 10px;
	height: 50%;
	overflow: hidden;
	overflow-y: auto;
}
.viewdetails{
	position: absolute;
    top: 5px;
    right: -110px;
    border-radius: 0;
    padding-left: 12px;
    /*background: transparent;
    color: #000;*/
    border: solid 1px #ccc;
    box-shadow: none;
    transition: all 0.5s ease;
}
.viewdetails i{
	margin: 0 10px 0 0;
}
.viewdetails:hover{
	right: 0;
	/*color: #000;*/
}
.css-code{
	padding: 10px 15px;
	height: 50%;
	border-top: solid 1px #ccc;
	overflow: hidden;
    overflow-y: auto;
}

.html-code textarea,
.css-code textarea{
	display: block;
	width: 100%;
    resize: none;
    border: 0;
    border-bottom: solid 1px #ccc;
    padding: 10px;
}
#cssProperties{
	padding: 0 0 0 30px;
}
.html-code textarea:focus,
.css-code textarea:focus{
	outline: 0;
}
.css-properties{
	display: flex;
    justify-content: flex-end;
}
#css-property-seclection{
	 border-radius: 5px;
}
.css-dropdown{
	position: relative;
    border: solid 1px #ccc;
    padding: 10px 15px;
    color: #fff;
    background-color: #000;
    min-width: 240px;
    cursor: pointer;
    border-radius: 5px;
}
.css-dropdown > i{
	position: absolute;
    top: 14px;
    right: 15px;
    font-size: 16px;
}
.css-dropdown-nav{
	display: none;
	position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 198px;
}
/* width */
.css-dropdown-nav::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.css-dropdown-nav::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.css-dropdown-nav::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
.css-dropdown-nav::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}
.css-dropdown-nav.active{
	display: block;
}
.css-dropdown-nav > li{
	position: relative;
	padding: 5px 10px;
    border-bottom: solid 1px #eee;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #000;
}
.css-dropdown-nav > li:last-child{
	border-bottom: 0;
}
.css-dropdown-nav > li:after{
	content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 16px;
    padding-right: 0;
    position: absolute;
    top: 4px;
    right: 8px;
}

.css-dropdown-nav > li:hover{
	color: #fff;
	background-color: var(--primary-color);
	
}
.css-dropdown-nav > li.active{
	color: #fff;
	background-color: var(--primary-color);

}
.css-dropdown-nav > li.active:after{
	opacity: 1;
	visibility: visible;
}

.props-list{
	display: flex;
	padding-bottom: 1.3em;
	align-items: center;
}
.props-list .cssval{
	padding-left: 8px;
	/*flex-grow: 1;*/
	display: flex;
}
.props-list .cssval input.css-inpt,
.props-list .cssval select.css-select{
	width: 90px;
    height: 30px;
    border: solid 1px #ccc !important;
    margin-right: 12px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(238 238 238 / 41%);
}

.props-list .cssval select.css-select{
	min-width: 140px;
}

.show-code-output{
	width: 50%;
	border-left: solid 1px #ccc;
	padding: 10px 15px;
}
#codeOutPut{
	width: 100%;
	height: 100%;
}
/*.demo-tags{
	display: none;
}
.demo-tags.active{
	display: block;
}*/
